openapi: 3.2.0
info:
  title: Nanonets OCR OCR Retrieve API
  description: 'Synchronous and asynchronous OCR prediction and training endpoints for Nanonets

    custom OCR models. Upload files by local path (multipart) or by public URL,

    retrieve predictions for a file, a page, or a batch within a time window, and

    train or retrain a model. Sync endpoints are optimized for files of 3 pages or

    fewer; async endpoints handle larger documents.


    Authentication uses HTTP Basic with the API key as the username and an empty

    password. All traffic must be HTTPS.'
  version: 2.0.0
  contact:
    name: Nanonets
    url: https://nanonets.com
    email: support@nanonets.com
servers:
- url: https://app.nanonets.com/api/v2
security:
- BasicAuth: []
tags:
- name: OCR Retrieve
  description: Retrieve prediction results for a file, page, or batch.
paths:
  /Inferences/Model/{model_id}/InferenceRequest/{request_file_id}:
    get:
      tags:
      - OCR Retrieve
      summary: Get Prediction File By File ID
      description: 'Retrieve prediction results for a single file by `model_id` and

        `request_file_id`. Includes the model prediction, modifications, and the

        final processed outcome plus signed URLs to download the source file.'
      operationId: ocrModelGetPredictionFileByFileId
      parameters:
      - $ref: '#/components/parameters/ModelId'
      - name: request_file_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: File-level prediction result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModeratedFileResponse'
  /Inferences/Model/{model_id}/InferenceRequest/{request_file_id}/page/{page_id}:
    get:
      tags:
      - OCR Retrieve
      summary: Get Prediction File By Page ID
      description: Retrieve prediction results for a specific page by unique page id.
      operationId: ocrModelGetPredictionFileByPageId
      parameters:
      - $ref: '#/components/parameters/ModelId'
      - name: request_file_id
        in: path
        required: true
        schema:
          type: string
      - name: page_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Page-level prediction result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModeratedFileResponse'
  /Inferences/Model/{model_id}/InferenceRequest/:
    get:
      tags:
      - OCR Retrieve
      summary: Get All Prediction Files
      description: 'Get prediction results for all files uploaded to a model within a specified

        timeframe. Pages are bucketed into `moderated_images` (approved) and

        `unmoderated_images` (rejected or not yet approved).'
      operationId: ocrModelListPredictionFiles
      parameters:
      - $ref: '#/components/parameters/ModelId'
      - name: start_day_interval
        in: query
        required: true
        schema:
          type: integer
        description: Number of days back from the current batch day (days since epoch).
      - name: current_batch_day
        in: query
        required: true
        schema:
          type: integer
        description: Most recent day-since-epoch boundary for the window.
      responses:
        '200':
          description: Time-windowed batch of predictions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModeratedFileResponse'
components:
  schemas:
    ModeratedFileResponse:
      type: object
      properties:
        moderated_images_count:
          type: integer
        unmoderated_images_count:
          type: integer
        moderated_images:
          type: array
          items:
            $ref: '#/components/schemas/ModeratedPage'
        unmoderated_images:
          type: array
          items:
            $ref: '#/components/schemas/ModeratedPage'
        signed_urls:
          type: object
    TableCell:
      type: object
      properties:
        id:
          type: string
        row:
          type: integer
        col:
          type: integer
        label:
          type: string
        xmin:
          type: number
        ymin:
          type: number
        xmax:
          type: number
        ymax:
          type: number
        score:
          type: number
        text:
          type: string
        verification_status:
          type: string
        status:
          type: string
        failed_validation:
          type: string
        label_id:
          type: string
    Prediction:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        xmin:
          type: number
        ymin:
          type: number
        xmax:
          type: number
        ymax:
          type: number
        score:
          type: number
          minimum: 0
          maximum: 1
        ocr_text:
          type: string
        type:
          type: string
          enum:
          - field
          - table
        status:
          type: string
        validation_status:
          type: string
          enum:
          - failed
        validation_message:
          type: string
        page_no:
          type: integer
        label_id:
          type: string
        cells:
          type: array
          items:
            $ref: '#/components/schemas/TableCell'
    ModeratedPage:
      type: object
      properties:
        model_id:
          type: string
        day_since_epoch:
          type: integer
        is_moderated:
          type: boolean
        id:
          type: string
        url:
          type: string
          format: uri
        predicted_boxes:
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
  parameters:
    ModelId:
      name: model_id
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier for the Nanonets model.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic Auth where the API key is sent as the username and the password

        is left empty. Generate keys at https://app.nanonets.com/#keys.

        '
