openapi: 3.2.0
info:
  title: Nanonets File Management File Review API
  description: 'Approve, unapprove, assign, update fields on, delete, and re-export files

    within a Nanonets model. These endpoints drive the human-in-the-loop review

    workflow and downstream export retries.'
  version: 2.0.0
  contact:
    name: Nanonets
    url: https://nanonets.com
    email: support@nanonets.com
servers:
- url: https://app.nanonets.com
security:
- BasicAuth: []
tags:
- name: File Review
  description: Approve and unapprove files post-extraction.
paths:
  /api/v2/ImageLevelInferences/Model/{model_id}/Verify/{request_file_id}:
    post:
      tags:
      - File Review
      summary: Approve File
      description: Mark a processed file as approved (moderated).
      operationId: verifyFile
      parameters:
      - $ref: '#/components/parameters/ModelId'
      - $ref: '#/components/parameters/RequestFileId'
      responses:
        '200':
          description: File approved.
  /api/v2/ImageLevelInferences/Model/{model_id}/UnVerify/{request_file_id}:
    post:
      tags:
      - File Review
      summary: Unapprove File
      description: Revert an approved file back to unapproved state.
      operationId: unverifyFile
      parameters:
      - $ref: '#/components/parameters/ModelId'
      - $ref: '#/components/parameters/RequestFileId'
      responses:
        '200':
          description: File unapproved.
components:
  parameters:
    ModelId:
      name: model_id
      in: path
      required: true
      schema:
        type: string
    RequestFileId:
      name: request_file_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
