openapi: 3.2.0
info:
  title: Nanonets OCR OCR Train API
  description: 'Synchronous and asynchronous OCR prediction and training endpoints for Nanonets

    custom OCR models. Upload files by local path (multipart) or by public URL,

    retrieve predictions for a file, a page, or a batch within a time window, and

    train or retrain a model. Sync endpoints are optimized for files of 3 pages or

    fewer; async endpoints handle larger documents.


    Authentication uses HTTP Basic with the API key as the username and an empty

    password. All traffic must be HTTPS.'
  version: 2.0.0
  contact:
    name: Nanonets
    url: https://nanonets.com
    email: support@nanonets.com
servers:
- url: https://app.nanonets.com/api/v2
security:
- BasicAuth: []
tags:
- name: OCR Train
  description: Upload training images and train or retrain an OCR model.
paths:
  /OCR/Model/{model_id}/UploadFile/:
    post:
      tags:
      - OCR Train
      summary: Upload Training Images By File
      description: Upload locally-stored training images for a model.
      operationId: ocrModelUploadFileByModelIdPost
      parameters:
      - $ref: '#/components/parameters/ModelId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              - data
              properties:
                file:
                  type: array
                  items:
                    type: string
                    format: binary
                data:
                  type: string
                  description: JSON describing the annotation for each uploaded file.
      responses:
        '200':
          description: Upload acknowledged with totals per category.
  /OCR/Model/{model_id}/UploadUrls/:
    post:
      tags:
      - OCR Train
      summary: Upload Training Images By URL
      description: Upload training images for a model via publicly accessible URLs.
      operationId: ocrModelUploadUrlsByModelIdPost
      parameters:
      - $ref: '#/components/parameters/ModelId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - urls
              properties:
                urls:
                  type: array
                  items:
                    type: string
                    format: uri
                data:
                  type: string
      responses:
        '200':
          description: Upload acknowledged.
  /OCR/Model/{model_id}/Train/:
    post:
      tags:
      - OCR Train
      summary: Train Model
      description: Train or retrain a Nanonets OCR model after training data has been uploaded.
      operationId: ocrModelTrainByModelIdPost
      parameters:
      - $ref: '#/components/parameters/ModelId'
      responses:
        '200':
          description: Training job queued or running.
components:
  parameters:
    ModelId:
      name: model_id
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier for the Nanonets model.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic Auth where the API key is sent as the username and the password

        is left empty. Generate keys at https://app.nanonets.com/#keys.

        '
