openapi: 3.2.0
info:
  title: Nanonets File Management File Export API
  description: 'Approve, unapprove, assign, update fields on, delete, and re-export files

    within a Nanonets model. These endpoints drive the human-in-the-loop review

    workflow and downstream export retries.'
  version: 2.0.0
  contact:
    name: Nanonets
    url: https://nanonets.com
    email: support@nanonets.com
servers:
- url: https://app.nanonets.com
security:
- BasicAuth: []
tags:
- name: File Export
  description: Retry exports to configured downstream destinations.
paths:
  /api/v2/Inferences/Model/{model_id}/ImageLevelInferences/retryallexports:
    post:
      tags:
      - File Export
      summary: Retry All Exports
      description: Re-trigger downstream export for one or more files whose initial export failed.
      operationId: retryAllExports
      parameters:
      - $ref: '#/components/parameters/ModelId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - file_ids
              properties:
                file_ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Export retried.
components:
  parameters:
    ModelId:
      name: model_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
