openapi: 3.2.0
info:
  title: Nanonets File Management File Update API
  description: 'Approve, unapprove, assign, update fields on, delete, and re-export files

    within a Nanonets model. These endpoints drive the human-in-the-loop review

    workflow and downstream export retries.'
  version: 2.0.0
  contact:
    name: Nanonets
    url: https://nanonets.com
    email: support@nanonets.com
servers:
- url: https://app.nanonets.com
security:
- BasicAuth: []
tags:
- name: File Update
  description: Update or add extracted field values on a file.
paths:
  /api/v2/Inferences/Model/{model_id}/ImageLevelInference:
    patch:
      tags:
      - File Update
      summary: Update Fields On A File
      description: 'Update existing fields or add new fields on a file. Payload is derived

        from the prior GET prediction response; `use_ui_version=true` is required.'
      operationId: updateFileFields
      parameters:
      - $ref: '#/components/parameters/ModelId'
      - name: use_ui_version
        in: query
        required: true
        schema:
          type: boolean
          default: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Body must mirror the structure returned by Get Prediction File By File ID.
      responses:
        '200':
          description: Field update applied.
components:
  parameters:
    ModelId:
      name: model_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
